:root{
  --bg-color:white;
  --second-bg-color:#6699cc47;
  --bg-color2: #f794c659;
  --text-color: #ededed;
  --main-color:#6699cc;
  --main-color2: #e4589e;
  --main-color3:rgba(224, 77, 24, 0.903);
  --fg: #369;
    --bg: #def;
}
  
  body {
    font-family: cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    animation: handwriting 2s linear;
    margin: 0;
    padding: 0;
    background-color: #6699cc31;
  }
  
  @keyframes handwriting {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    margin-top: 20px;
  }
  
  .container {
    display: flex;
    height: fit-content;
  }

  .task-listt {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
    display: flex;
  flex-wrap: wrap;
  margin-right: -35px; 
  margin-bottom: -35px;
  }

  .right-side {
    flex: 1;
    padding: 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px #5557;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .user-logo {
    margin-top: 10px;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .user-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-details {
    flex: 1;
    color: #369;
    text-transform: uppercase;
  }
  
  
  .task-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
  }
  
  .task-boxx {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--second-bg-color);
  }
  .task-boxxx {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #d47aa775;
  }
  
  .task-boxx h5 , .task-boxxx h5{
    margin-bottom: 5px;
    font-size: 1.0rem;
    color: var(--fg);
    text-transform: uppercase;
  }
  .task-boxxx h5{
    color: var(--main-color2);
  }
  
  .task-boxx p, .task-boxxx p{
    font-weight: bold;
    font-size: 20px;
    color: #369;
  }
  .task-boxxx p{
    color: var(--main-color2);
  }
  
  .task-boxx i{
    color: var(--fg);
    background-color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    font-size: 1.2rem;
    padding-top: 2px;
  }
.icon i{
    color: var(--main-color2);
    background-color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    font-size: 1.5rem;
  }
  
  .task-boxx:hover,
  .task-boxxx:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  .task-box:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }
  div[role="progressbar"] {
    align-items: center;
    margin: 10px;
    margin-left: 65px;
    margin-bottom: 20px;
    --size: 8rem;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  @keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }

  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #2c668f, #4c8dbb,#82c4e2);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(32, 127, 204, 0.1);
    z-index: 9999;
    color: white;
    width: 400px;
    border-radius: 5px;
  }

  .popup-container h2 {
    margin-top: 0;
    text-align: center;
  }

  .popup-container label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .popup-container input[type="text"],
  .popup-container textarea {
    width: 93%;
    padding: 5px;
    margin-bottom: 10px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .popup-container .btn {
    padding: 5px 10px;
    background-color: var(--fg);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 165px;
    width: 85px;
    font-size: 15px;
    height: 40px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .popup-container .close {
    position: absolute;
    top: 0px;
    right: 25px;
    cursor: pointer;
    color: white;
    font-size: 3rem;
  }
  .popup-container .close:hover{
    color: var(--main-color3);
  }

  .middle-box {
    margin: 0;
    width: 950px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .task-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    width:  430px; 
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    background-color: #ec72af6e;
    border-radius: 5px;
  }

  .taskDescription {
    text-align: center;
  }
  .task-box .th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; 
  }
  .task-info .custom-checkbox h3 {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    margin-top: -12px;
    margin-bottom: 2px;
  }
  .hidden-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .custom-checkbox {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .custom-checkbox .check-icon,
  .custom-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
  }
  .custom-checkbox input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox .check-icon {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
  }
  .custom-checkbox .check-icon:hover {
    color: var(--main-color3);
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
  }
  .task-info p {
    margin: 5px 0;
    color: #555;
    font-size: 18px;
  }
 .middle-box .et{
  font-size: 12px;
  margin-bottom: 12px;
  text-align: center;
 } 
  .task-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-menu {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .dropdown-item {
    border: none;
    color: white;
    padding: 6px;
    padding-left: 9px;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--main-color2);
    height: 35px;
    border-radius: 5px;
    width: 40px;
  }
  
  .dropdown-item.edit {
    margin-right: 10px;
    background-color: var(--fg);
  }
  .dropdown-item.view {
    margin-right: 10px;
    padding-left: 6px;
    background-color: rgba(23, 108, 23, 0.826);
  }
  .dropdown-item.deletee {
    background-color: transparent;
    height: 2px;
    width: 2px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .dropdown-item:hover {
    background-color: var(--main-color3);
  }
  .dropdown-item.deletee:hover{
    background-color: transparent;
  }
  
  .fa-pencil-alt,
  .fa-trash {
    margin-right: 5px;
  }
  
  .middle-box .no-tasks {
    color: var(--fg);
    font-size: 3rem;
    margin: 210px;
    margin-left: 250px;
  }
  
  .left-side {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:220px;
    height: 100%;
    background-color: var(--fg);
  }

  .left-side img {
    margin-top: 15px;
    height: 140px;
    width: auto;
    margin-bottom: 20px;
  }

  .btn, .logoutbtn{
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 28px;
    border-radius: 50%;
    margin-bottom: 20px;
    height: 58px;
    width: 60px;
  }

  .logoutbtn {
    background-color: var(--main-color2);
  }

  .btn:hover,
  .logoutbtn:hover {
    background-color: var(--main-color3);
  }


.completed-tasks {
  margin-top: 20px;
  text-align: center;
  color: white;
  margin-bottom: 350px;
}

.completed-tasks h3 {
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
}

.ctask-list {
  display: none;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

