:root{
  --bg-color:white;
  --second-bg-color:#6699cc47;
  --bg-color2: #f794c659;
  --text-color: #ededed;
  --main-color:#6699cc;
  --main-color2: #e4589e;
  --main-color3:rgba(224, 77, 24, 0.903);
  --fg: #369;
    --bg: #def;
}
  
  body {
    font-family: cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    animation: handwriting 2s linear;
    margin: 0;
    padding: 0;
    background-color: #6699cc31;
  }
  
  @keyframes handwriting {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    margin-top: 20px;
  }
  
  .container {
    display: flex;
  }

  .task-listt {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
    display: flex;
  flex-wrap: wrap;
  margin-right: -35px; 
  margin-bottom: -35px;
  }

  .right-side {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px #5557;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .user-logo {
    width: 250px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .user-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-details {
    flex: 1;
  }
  
  
  .task-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .task-boxx {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--second-bg-color);
  }
  .task-boxxx {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #e766a6bf;
  }
  
  .task-boxx h5 , .task-boxxx h5{
    margin-bottom: 5px;
    font-size: 1.0rem;
  }
  
  .task-boxx p, .task-boxxx p{
    font-weight: bold;
    font-size: 20px;
  }
  div[role="progressbar"] {
    align-items: center;
    margin: 10px;
    margin-left: 65px;
    margin-bottom: 20px;
    --size: 8rem;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  @keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }

  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color2);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(32, 127, 204, 0.1);
    z-index: 9999;
  }

  .popup-container h2 {
    margin-top: 0;
  }

  .popup-container label {
    display: block;
    margin-bottom: 5px;
  }

  .popup-container input[type="text"],
  .popup-container textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .popup-container .btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  .popup-container .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }

  .middle-box {
    margin: 30px auto;
    width: 1000px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .task-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    width:  422px; 
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    background-color: #ec72af6e;
  }
  
  .task-info {
    flex-grow: 1;
    text-align: center;
  }
  .taskDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
  
  .task-info h3 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  }
  
  .task-info p {
    margin: 5px 0;
    color: #555;
  }
 .middle-box .et{
  font-size: 12px;
  margin-bottom: 10px;
 } 
  .task-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-menu {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .dropdown-item {
    background: none;
    border: none;
    color: white;
    padding: 6px;
    padding-left: 9px;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--main-color2);
    height: 35px;
    border-radius: 5px;
    width: 40px;
  }
  
  .dropdown-item.edit {
    margin-right: 10px;
    background-color: var(--fg);
  }
  .dropdown-item.view {
    margin-right: 10px;
    padding-left: 6px;
    background-color: rgba(23, 108, 23, 0.826);
  }
  
  .dropdown-item:hover {
    background-color: var(--main-color3);
  }
  
  .fa-pencil-alt,
  .fa-trash {
    margin-right: 5px;
  }
  
  p.no-tasks {
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
  
  .left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width:200px;
  }

  .left-side img {
    height: 40px;
    width: auto;
  }

  .btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
  }

  .logoutbtn {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .btn:hover,
  .logoutbtn:hover {
    background-color: #45a049;
  }